<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Социология БФУ имени Иммануила Канта</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
<link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<meta name="theme-color" content="#563d7c">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="{{ url_for('static', filename='floating-labels.css') }}" rel="stylesheet">
  </head>
  <body>
    <form class="form-signin" method="post">
      <div class="form-group">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://old.kantiana.ru/bitrix/templates/kantiana2016/images/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Портал социологических опросов БФУ им.И.Канта</h1>
  </div>

  <div class="form-label-group">
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>
<div class="form-label-group">
  <button class="btn btn-lg btn-primary btn-block" name="login" value="login" type="submit">Войти</button>
  <a class="btn btn-lg btn-primary btn-block" role="button" name="password" href="{{ url_for('user.register')}}">Регистрация</a>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
  </div>
        </div>
</form>
</body>
</html>
